<!-- inject:../components/baseHead/baseHeadStart.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {{ partial "head.html" . }}

    {{ partial "head_custom.html" . }}

</head>

<body>

<header class="header fixed-top rad-animation-group" id="header">
    <div class="container rad-fade-in">
        <nav class="navbar navbar-expand-lg navbar-light p-0" style="color: #fff; background-color: #ee6e73; width: 100%; height: 56px; line-height: 56px;">
            <a class="navbar-brand" href="{{ .Site.BaseURL | absURL }}">
                <span style="color: #212529;">{{ .Site.Params.logo.text1 }}</span>
                <span>{{ .Site.Params.logo.text2 }}</span>
            </a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent, #header"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ .Site.BaseURL | absURL }}">HOME</a>
                    </li>
                    {{ range .Site.Menus.blog }}
                    <li class="nav-item">
                        <a data-scroll class="nav-link" href="{{ .URL }}"
                        >{{ .Name | upper }}</a
                        >
                    </li>
                    {{ end }}
                </ul>
            </div>
        </nav>
    </div>
</header>

<section class="rad-showcase rad-showcase--index rad-animation-group rad-fade-down">

    <div class="container">
        <div class="row" style="margin-right: 0; margin-left: 0;">
            <div id="wrapper" style="width: 100%;">
                <main id="site-main" style="padding-top: 120px;">
                {{ $paginator := .Paginate (.Pages) }}
                {{ range $paginator.Pages }}
                        <article class="post">
                            {{ .Render "blogheader" }}
                            {{ .Render "featured" }}
                            {{ $.Scratch.Set "summary" ((delimit (findRE "<p.*?>(.|\n)*?</p>" .Content 1) "") | truncate (default 500 .Site.Params.summary_length) (default "&hellip;" .Site.Params.text.truncated ) | replaceRE "&amp;" "&" | safeHTML) }}
                            {{ $.Scratch.Get "summary" }}
                            <footer>
                                <a href="{{ .RelPermalink }}" class="button big"
                                style="margin: 1em auto;
                                width: 100%; margin: .25em 0; background-color: transparent; border: solid 1px rgba(160,160,160,.3);
                                color: #3c3b3b; cursor: pointer; display: inline-block; font-family: raleway,Helvetica,sans-serif; font-weight: 800;
                                -moz-transition: background-color .2s ease,border .2s ease,color .2s ease;
                                -webkit-transition: background-color .2s ease,border .2s ease,color .2s ease;
                                -ms-transition: background-color .2s ease,border .2s ease,color .2s ease;
                                transition: background-color .2s ease,border .2s ease,color .2s ease;
                                text-align: center; text-transform: uppercase; width: border-box;
                                font-size: .6em; height: 4.8125em; letter-spacing: .25em; line-height: 4.8125em; padding: 0 2em;"
                                >{{ i18n "read_more" }}</a>
                            </footer>
                        <br/>
                        </article>
                    {{ end }}
                    {{ partial "pagination" . }}
                </main>
            </div>
        </div>
    </div>
</section>

{{ partial "footer.html" . }}

{{ partial "base-foot.html" . }}
<script type="text/javascript" src="js/materialize.min.js"></script>

</body>

</html>
<!-- endinject -->